{%- assign debug = false %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="stylesheet" type="text/css" href="http://foolscap.org/assets/css/font-awesome.css?v=4ebb9b5d70" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />


        <style>
         .schedule-grid {

         }
         .hourly {
             display: grid;
             justify-content: center;
             grid-gap: 2px;
             align-content: center;
             align-items: stretch;
             grid-template-columns: [ {{schedule.columns[0]}} ] 1fr [ {{schedule.columns[1]}} ] 10fr [ {{schedule.columns[2]}} ] 10fr [ {{schedule.columns[3]}} ] 10fr;

         }
         .hourly > * {
             display: flex;
             align-items: center;
             justify-content: center;
             margin: 0;
             border: 1px solid black;
             padding: 2px;
             text-align: center;
             vertical-align: middle;
             background-color: white;
             z-index: 10;
         }

         .schedule .time {
             font-size: 75%;
             grid-column: c_time;
             border: none;
         }

         .schedule .planned {
         }

         .schedule .break {

             background-color: #999;
         }

         .schedule .openspace {
             text-align: center;
             border: 1px dashed black;
         }

         .schedule .bottomless {
             border-bottom: none;
         }

         .schedule .openspace .closed {
             text-align: center;
         }

         span.line {
             display: inline-block;
         }

         .panel-page h3 {
             background-color: rgb(72, 48, 144);
             padding: 10px;
         }
         .panel-page h3 a {
             color: white;
         }

         @media all {
             .page-break { display: none; }
             .schedule-print-grind { display: none; }
             .hide-on-normal { display: none; }
             p     .hide-on-print { display: block; }

         }
         @media print {
             /* h3 is panel name */
             :link {
                 text-decoration: none;
             }
             .panel-page h3 {
                 background-color: white;
                 padding: 0px;
                 text-decoration: none;
             }
             .panel-page h3 a {
                 color: black;

             }
             .hide-on-print { display: none; }
             .hide-on-normal {
                 display: block;
                 background-color: white;
             }
             .page-break { display: block; page-break-before: always; }
             .schedule-print-grind { display: block; }
             .site-head { display: none; }
             .topnav_anchor { display: none; }
             .topnav { display: none; }
             .site-footer { display: none; }
             .post-title { display: none; }
             .schedule-grid { display: none; }
             img { display: none; }
             h1 {
                 font-size: 1500%;
                 display: block;
                 margin: 0;
             }
             
             h3 {
                 lines: line-height: 70%;
                 font-size: 700%;
                 display: block;
                 margin: 0;                 
             }
             h4 {
                 font-size: 400%;
                 display: block;
                 margin: 0;
             }
             .grid-label { font-size: 700%; }
             .panel-detail
             {
                 font-size: 250%; line-height: 1.1
             }
             .time { height: 3.5in; margin: 0; padding: 0; }
             //  .time:nth-of-type(odd) { page-break-before: always; }
             .time { page-break-before: always; }
             .panel-page { page-break-before: always; }
             .room { page-break-before: always; }

             @page {size: landscape; }
         }
        </style>
    </head>
    <body>
        <!-- header class="site-head">
             <div class="vertical">
             <div class="site-head-content inner">
             <a class="blog-logo" href="http://www.foolscap.org"><img src="http://foolscap.org/content/images/2014/Apr/logo-full-3col-0300x0100.png" alt="Foolscap" /></a>
             <div class="head-info">Feb. 2&dash;4, 2018<br>
             Hilton Seattle Airport<br>
             Seattle, WA 98188
             </div>
             </div>
             </div>
             </header>-->
        <div class="schedule-grid">
            {%- for day-hash in schedule.day-time-ranges %}
                {%- assign day = day-hash[0] %}
                {%- assign start-time = day-hash[1].start-time %}
                {%- assign stop-time = day-hash[1].stop-time %}
                {%- assign row-count = stop-time | minus: start-time | times: 2 %}

                <h2 class="hide-on-print"> {{ day }} </h2>

                {%- assign row_num = 1 %}
                {%- assign col_num = 1 %}
                <br>
                <div class="{{ schedule.class-type }} hourly {{ day }}" >
                    {%- for grid_column in schedule.columns %}
                        {%- assign room = grid_column | column_to_room %}
                        {%- assign name = room.name %}
                        <h3  style="grid-column: {{grid_column}}; grid-row: {{row_num}};">{{name}}</h3>
                        {%- assign col_num = col_num | plus: 1 %}
                    {%- endfor %}

                    {%- assign row_num = row_num | plus: 1 %}

                    <!-- time for {{day}} -->
                    {%- for half-hour in (0..row-count) %}
                        {%- assign hour = half-hour | divided_by: 2 | plus: start-time %}
                        {%- capture hour-minutes %}{%- cycle day: '00', '30' %}{%- endcapture %}

                        {%- capture ampm %}{%- if hour >= 12 %}PM{%- else %}AM{%- endif %}{%- endcapture %}
                        {%- capture time %}{%- if hour > 12 %}{{ hour | minus: 12 }}{%- else %}{{hour}}{%- endif %}:{{ hour-minutes }} {{ampm}}{%- endcapture %}


                        {%- assign col_num = 1 %}
                        <h4 class="time" style="grid-column: c_time; grid-row: {{row_num}};">{{time}}</h4>
                        {%- assign row_num = row_num | plus: 1 %}
                    {%- endfor %}

                    {%- assign day-events = schedule.day-events | hash:day  %}
                    <!-- events for {{day}} -->
                    {%- for event in day-events %}
                        {%- assign col = event.room | room_to_column  %}
                        {%- assign row = event.hour | time_to_row: day, event.hour-end  %}
                        {%- assign class = event.class | default: "planned" %}
                        {%- assign event_anchor = day | event_anchor: row, col, event.room %}
                        <h4 class="{{event.class}}" style="grid-column: {{ col }}; grid-row: {{ row }};"> <a id="event_{{event_anchor}}" href="#event_detail_{{event_anchor}}">{{ event.name | default_name: event.hour, "in", event.room }}</a> </h4>
                    {%- endfor %}
                </div>
            {%- endfor %}
        </div>
        <h2 class="hide-on-print"> Map </h2>

        <img src="https://github.com/foolscapcon/foolscap-files/blob/master/SiteMap.png" alt="Hotel Map" class="hide-on-print">

        <h2 class="hide-on-print"> Panel Details </h2>

        {%- for event-hash in schedule.day-events %}
            {%- assign day = event-hash[0] %}
            {%- assign day-events = event-hash[1] %}
            <!-- details for {{day}} -->
            {%- for event in day-events %}
                {%- assign col = event.room | room_to_column  %}
                {%- assign row = event.hour | time_to_row: day, event.hour-end  %}
                {%- assign class = event.class | default: "planned" %}
                {%- assign event_anchor = day | event_anchor: row, col, event.room %}
                {%- assign hour = event.hour | round: 4 %}
                {%- assign hour-minutes = hour | modulo: 1 | times: 60 | floor %}
                {%- assign hour = hour | floor %}
                {%- if hour-minutes < 9 %}
                    {%- assign hour-minutes = "0" | append: hour-minutes %}
                {%- endif %}
                {%- capture ampm %}{%- if hour >= 12 %}PM{%- else %}AM{%- endif %}{%- endcapture %}
                {%- capture time %}{%- if hour > 12 %}{{ hour | minus: 12 }}{%- else %}{{hour}}{%- endif %}:{{ hour-minutes }} {{ampm}}{%- endcapture %}
                {%- assign where = day | append: " at " | append: time | append: " in " | append: event.room %}
                <!-- h4 class="{{event.class}}" style="grid-column: {{ col }}; grid-row: {{ row }};"> <a id="event_{{event_anchor}}" href="#event_detail_{{event_anchor}}">{{ event.name | default_name: event.hour, "in", event.room }}</a> </h4 -->
                {%- if event.room == "Event" %}
                    {%- continue %}
                {%- endif %}
                <div class="panel-page">
                    <h3> <a id="event_detail_{{event_anchor}}" href="#event_{{event_anchor}}">{{ event.name | default_name: "Open Space", event.hour, "in", event.room }}</a> </h3>
                    <h4 class="">{{where}}</h4>
                    <div class="panel-detail">
                        <p>
                            {%- if event.excerpt != nil and event.excerpt != empty %}
                                {{event.excerpt}}
                            {%- elsif event.details != empty %}
                                {{event.details}}
                            {%- endif %}
                        </p>
                        {%- if event.notes != nil and event.notes != empty %}
                            <p class="hide-on-print">
                                <h5>Panel Notes</h5>
                                {{event.notes}}
                            </p>
                        {%- endif %}
                    </div>
                </div>
                {%- if class == "break" or event.room == "Event" %}
                    {%- continue %}
                {%- endif %}
                

                <!-- panel print with time for room -->
                <div class="panel-page hide-on-normal">
                    {%- comment %} don't print empty open space panels {%- endcomment %}
                    {%- if event.name != nil and event.name != empty %}
                        <h3>{{event.name}}</h3>
                        <h4 class=""> {{where}} </h4>
                        <div class="panel-detail">
                            {%- if event.excerpt != nil and event.excerpt != empty %}
                                {{event.excerpt}}
                            {%- elsif event.details != empty %}
                                {{event.details}}
                            {%- endif %}
                        </div>
                    {%- else %}
                        <!-- skipping unassigned open panel -->
                    {%- endif %}
                </div>

            {%- endfor %}
        {%- endfor %}


        <div class="page-break"></div>

        <!-- wall schedule grid labels for print -->
        <div class="hide-on-normal">
            {%- for room_hash in schedule.room %}
                {%- assign room = room_hash[1]%}
                {%- assign name = room_hash[0]%}

                <h1 class="page-break">{{name}}</h1>

            {%- endfor %}                        
            {%- for day-hash in schedule.day-time-ranges %}
                {%- assign day = day-hash[0] %}
                {%- assign start-time = day-hash[1].start-time %}
                {%- assign stop-time = day-hash[1].stop-time %}
                {%- assign row-count = stop-time | minus: start-time | times: 2 %}

                <h2 class="hide-on-print"> {{ day }} </h2>

                {%- assign row_num = 1 %}
                {%- assign col_num = 1 %}
                <br>
                <div class="" >
                    

                    {%- assign row_num = row_num | plus: 1 %}

                    {%-  comment %}
                        <!-- time for {{day}} -->
                        {%- for half-hour in (0..row-count) %}
                            {%- assign hour = half-hour | divided_by: 2 | plus: start-time %}
                            {%- capture hour-minutes %}{%- cycle day: '00', '30' %}{%- endcapture %}

                            {%- capture ampm %}{%- if hour >= 12 %}PM{%- else %}AM{%- endif %}{%- endcapture %}
                            {%- capture time %}{%- if hour > 12 %}{{ hour | minus: 12 }}{%- else %}{{hour}}{%- endif %}:{{ hour-minutes }} {{ampm}}{%- endcapture %}


                            {%- assign col_num = 1 %}
                            <h1 class="grid-label page-break time">{{time}}</h1>
                            {%- assign row_num = row_num | plus: 1 %}
                        {%- endfor %}
                    {%-  endcomment %}

                {%- endfor %}

        </div>

        <div class="page-break"></div>
    </body>
</html>
